.grid-container {
    height: 400px; /* Tablonun yüksekliği */
    width: 100%;  /* Tablonun genişliği */
    margin-top: 20px; /* Üst boşluk */
    margin-bottom: 20px; /* Alt boşluk */
    
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #130303;
    border: 1px solid #ccc;
    cursor: pointer;
}

button:hover {
    background-color: #111763;
    
}